<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>
    <div id="all">
      {{ partial "top.html" . }}
      {{ partial "nav.html" . }}

      <section class="hero-section">
        <div class="hero-overlay"></div>
        <div class="hero-content">
          <h1>Rent Our Donut Board!</h1>
        </div>
      </section>

      <div class="brown-accent-bar"></div>

      <div id="main-content-area" class="content-wrapper" style="background-color: white; padding-top: 10px; padding-bottom: 40px;">
        <div class="container">
            {{ .Content }}
        </div>
      </div>

      {{ partial "footer.html" . }}
    </div>
    
    {{ partial "scripts.html" . }}
  </body>
</html>